<div class="border-4 border-purple-400">
        <div>
        <h1>{{question}}</h1>
        </div>
        <form>
        {{#each incorrects as |incorrect|}}
        <input type="radio" id="incorrect" name="{{decodeString incorrect}}" value="{{decodeString incorrect}}"/>
        <label for="incorrect">{{decodeString incorrect}}</label>
        {{/each}}
        <input type="radio" id="correct" name="{{decodeString correct}}" value="{{decodeString correct}}"/>
        <label for="correct">{{decodeString correct}}</label>
        <h2>{{correct}}</h2>
        </form>

        
</div>
